
// Font settings
$font-family-base:           'Plus Jakarta Sans';
$font-weight-normal:         400;
$font-weight-bold:           500;
$font-weight-bolder:         800;


// Color settings
$color-dark:               #363636;
$color-light:              #fff;
$color-primary:            #549663;
$color-secondary:          #F0D8A8;
$color-btn-yellow:         #FFD800;
$color-light-gray:         #F1F0F5;
$color-red:                #D43B4A
